<nav
  class="fixed bg-white text-neutral-900 shadow-md sticky top-0 z-50 border-b-2 border-accent-500"
>
  <div class="container mx-auto px-4 py-4">
    <div class="flex justify-between items-center">
      <div class="flex items-center space-x-2">
        <div
          class="w-100 h-12 rounded-full flex items-center justify-center"
        >
        <img src="/assets/images/amantech_logo_1.svg" alt="Amantech Logo">
        </div>
        <span class="text-xl font-bold text-neutral-900"></span>
      </div>
      <button class="md:hidden text-neutral-900 text-2xl" id="menuToggle">☰</button>
      <ul class="hidden md:flex space-x-6">
        <li><a href="#home" class="text-neutral-700 hover:text-accent-600 transition">Home</a></li>
        <li>
          <a href="#about" class="text-neutral-700 hover:text-accent-600 transition">About</a>
        </li>
        <li>
          <a href="#services" class="text-neutral-700 hover:text-accent-600 transition">Services</a>
        </li>
        <li>
          <a href="#products" class="text-neutral-700 hover:text-accent-600 transition">Products</a>
        </li>
        <li>
          <a href="#contact" class="text-neutral-700 hover:text-accent-600 transition">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
